body{
  border: 50px solid #C42847;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  /*left: 50px opacity:0.99;*/
  background-image: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8dG8lMjBkb3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  height: 100;
  font-family: 'Acme', sans-serif;
  font-family: 'Bree Serif', serif;
}

 h1{
  opacity: 0.99;
    color: #C42847;
    text-align: center;
    font-size: 40px;
    font-family: 'Bree Serif', serif;
    opacity: 0.999;
}


input[type="text"]{
  /*padding-left: 70px;*/
    /*padding-right: 70px;*/
    /*opacity: 3;*/
    margin-left: 20px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-color: black;
    font-family: 'Acme', sans-serif;
    font-family: 'Bree Serif', serif;
}

.add{
  /*opacity: 0.999;*/
  border-radius: 20px;
  background-color:  #C42847;
  height: 60px;
  width: 150px;
  font-size: 2em;
  margin-left: 40%;
  font-family: 'Acme', sans-serif;
  font-family: 'Bree Serif', serif;
  border: 100px;
  margin-bottom: 100%
}


.listitem{
  font-family: 'Acme', sans-serif;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  color : #11151C;
  padding-left: 70px;
  padding-right: 70px;
}

#forminput{
  color: black;
}

p{
  font-size: 20px;
  margin-left: 80px;
  margin-top: -20px;
}


